<div *ngIf="subMenuToggle">
  <mat-card>
    <div class="pokemon">
      <h1>Pokemon</h1>
      <div *ngFor="let generation of generations">
        <a
          routerLink="pokemon-list"
          (click)="subMenuHidden(); subMenuIsHidden.emit()"
          >{{ generation }}</a
        >
      </div>
    </div>

    <div class="items">
      <h1>Items</h1>
      <div *ngFor="let item of items">
        <a
          routerLink="item-list"
          (click)="subMenuHidden(); subMenuIsHidden.emit()"
          >{{ item }}</a
        >
      </div>
    </div>
  </mat-card>
</div>
