.top-bar-menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: rgb(33, 30, 44);
  color: white;
  margin-top: 0;
}

.top-menu {
  display: grid;
  grid-template-columns: auto 20%;
}

.paginator /deep/ .ngx-pagination .ng-star-inserted {
  color: white;
}

.paginator /deep/ .ngx-pagination .ng-star-inserted:hover {
  color: black;
}

.search-bar input {
  border-radius: 20px;
}

.pokemon-list {
  margin-top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.pokemon-title {
  width: 300px;
}

.pokemon-card {
  background-color: rgba(0, 0, 0, 0.102);
  width: 200px;
  border-radius: 20px;
}

.pokemon-card:hover {
  background-color: rgba(255, 255, 255, 0.272);
  cursor: pointer;
}

mat-card-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card-header .mat-card-avatar {
  height: 0;
  width: 0;
  border-radius: 0;
  flex-shrink: 0;
  object-fit: none;
}

.name {
  text-align: center;
  text-transform: capitalize;
  font-size: medium;
  color: white;
}

a img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  transform: translateY(0%);
  transition: 0.6s ease-in-out;
}

a img:hover {
  transform: translateY(-10%);
  transition: 0.6s ease-in-out;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.pokemon-type{
  width: 60px;
  text-align: center;
  border-radius: 20px;
}

p {
  margin-right: 10px;
  text-transform: capitalize;
  color: white;
}
