.top-bar-menu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #00021f;
  color: white;
  margin: 0;
}

.top-menu {
  display: flex;
}

.search-bar {
  display: block;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 20px;
}

.paginate {
  display: flex;
  margin-top: 10px;
}

.paginator /deep/ .ngx-pagination .ng-star-inserted {
  margin: 0;
  color: white;
  font-size: 12px;
}

.paginator /deep/ .ngx-pagination .ng-star-inserted:hover {
  color: black;
}

.pokemon-list {
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.pokemon-card {
  background-color: rgba(0, 0, 0, 0.102);
  width: 200px;
  border-radius: 20px;
}

.pokemon-card:hover {
  background-color: rgba(255, 255, 255, 0.272);
  cursor: pointer;
}

mat-card-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card-header .mat-card-avatar {
  height: 0;
  width: 0;
  border-radius: 0;
  flex-shrink: 0;
  object-fit: none;
}

.name {
  text-align: center;
  text-transform: capitalize;
  font-size: medium;
  color: white;
}

img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  transform: translateY(0%);
  transition: 0.6s ease-in-out;
}

img:hover {
  transform: translateY(-15%);
  transition: 0.6s ease-in-out;
}

.pokemon-title {
  margin-top: 0;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 250px;
  transform: translateY(0%);
  transition: 0.6s ease-in-out;
}

.pokemon-title:hover {
  transform: translateY(-40%);
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.pokemon-type {
  width: 60px;
  text-align: center;
  border-radius: 20px;
}

p {
  margin-right: 10px;
  text-transform: capitalize;
  color: white;
}

.limiter mat-label {
  color: white;
  font-size: 12px;
}

mat-form-field {
  width: 120px;
  margin-left: 20px;
  background-color: none;
}

mat-form-field /deep/ .mat-select-value-text {
  color: white;
  text-transform: capitalize;
}

.pokemon-list-header {
  display: flex;
}

form {
  margin-left: auto;
}

form input {
  border-radius: 20px;
  border: none;
  outline: none;
  height: 40px;
  padding-left: 10px;
  width: 250px;
}

.filter {
  margin-top: 40px;
}

.filter mat-label {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}

.filter /deep/ .mat-form-field {
  width: 200px;
}

@media screen and (max-width: 540px) {
  .pokemon-list-header {
    display: block;
  }

  form input {
    margin-top: 50px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .filter .mat-form-field {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 816px) {
  .top-menu {
    display: block;
  }

  .search-bar input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .paginate {
    margin-top: 0;
    height: 40px;
  }
}
