<!-- TOOLBAR -->
<mat-card class="top-bar-menu">
  <div class="top-menu">
    <div class="pagination">
      <pagination-controls
        class="paginator"
        [responsive]="true"
        (pageChange)="
          currentPage = $event;
          currentOffset = limit;
          pokemonDetails = [];
          pageChange()
        "
      ></pagination-controls>
    </div>

    <div class="limiter">
      <!-- SELECTOR -->
      <mat-form-field appearance="fill">
        <mat-label>Pokemon limit</mat-label>
        <mat-select (value)="(limit)" (selectionChange)="limiter($event.value)">
          <mat-option *ngFor="let limit of pageLimit" [value]="limit">
            {{ limit }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-bar">
      <form class="example-form">
        <input
          type="text"
          placeholder="Search pokemon"
          [formControl]="control"
          [matAutocomplete]="auto"
          (input)="pokemonSearch()"
          [(ngModel)]="search"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let pokemon of filteredPokemons | async"
            [value]="pokemon"
          >
            {{ pokemon | titlecase }}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</mat-card>

<!-- CARDS -->
<div class="pokemon-list">
  <div class="pokemon-list-header">
    <img
      class="pokemon-title"
      src="../../assets/pokemon-list-logo.png"
      (click)="filterType('clear')"
    />
  </div>

  <!-- SELECTOR -->
  <div class="filter">
    <mat-form-field appearance="fill">
      <mat-label>Filter by type</mat-label>
      <mat-select
        (value)="(filter)"
        (selectionChange)="filterType($event.value)"
      >
        <mat-option *ngFor="let filter of type" [value]="filter.name"
          >{{ filter.name | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- EACH POKEMON CARD -->
  <div class="container">
    <mat-grid-list [cols]="column" rowHeight="350px">
      <div
        *ngFor="
          let pokemon of pokemonDetails
            | paginate
              : {
                  itemsPerPage: limit,
                  currentPage: currentPage,
                  totalItems: totalNumberOfPokemons
                }
        "
      >
        <mat-grid-tile>
          <mat-card (click)="onSelect(pokemon)" class="pokemon-card">
            <mat-card-header>
              <mat-card-title>
                <p class="name">{{ pokemon.name }}</p>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="types">
                  <div *ngFor="let types of pokemon.types">
                    <p
                      [style.backgroundColor]="typeColor(types.type.name)"
                      class="pokemon-type"
                    >
                      {{ types.type.name }}
                    </p>
                  </div>
                </div>
              </mat-card-subtitle>
            </mat-card-header>

            <div
              *ngIf="
                pokemon.sprites.other['official-artwork'].front_default != null;
                else nullImage
              "
            >
              <img
                mat-card-image
                [src]="pokemon.sprites.other['official-artwork'].front_default"
              />
            </div>
            <ng-template #nullImage>
              <div class="noImage">
                <img mat-card-image src="../../assets/no-image-found.png" />
              </div>
            </ng-template>
          </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
