.pokemon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 50px;
}

.pokedex-logo {
  width: 50px;
}

mat-card {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.231);
}

.pokedex-logo img {
  position: fixed;
  width: 80px;
}

.pokemon-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-details {
  display: block;
  width: 50%;
}

.secondary-details {
  display: block;
  width: 50%;
}

.secondary-details .pokemon-info {
  text-align: left;
  font-size: 14px;
  text-transform: none;
}

.secondary-details .flavor {
  margin-bottom: 30px;
  color: white;
}

.secondary-details .flavor-description {
  font-size: large;
  font-weight: 500;
  color: rgb(236, 238, 95);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

p {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: large;
  color: white;
}

.pokemon-name {
  margin-top: 10px;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-type p {
  width: 60px;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
  font-size: small;
}

.poke-stat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.stats {
  display: grid;
  grid-template-columns: 45% 55%;
}

label {
  color: white;
  text-transform: capitalize;
  letter-spacing: 2px;
}

mat-progress-bar {
  border: 1px solid rgba(0, 0, 0, 0.217);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 4px;
  border-radius: 20px;
  margin: 10px;
}

.sub-info {
  margin-top: 10px;
}

.pokemon-moves-card {
  width: 100px;
  transform: translateY(0%);
  transition: 0.3s ease-in-out;
}

.pokemon-moves-card:hover {
  cursor: pointer;
  background-color: rgba(186, 186, 186, 0.258);
  transform: translateY(-10%);
  z-index: 3;
  width: 500px;
  transition: 0.3s ease-in-out;
}

.pokemon-move {
  font-size: 12px;
  margin: 0;
}

.move-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  width: 60px;
  border-radius: 20px;
}

.move-type p {
  text-align: center;
}

.pokemon-stats {
  margin-bottom: 20px;
}

.pokemon-moves {
  margin-top: 30px;
}

.pokemon-evolution-label {
  margin-top: 30px;
  width: 200px;
}

.evolution-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 90%;
}

.evolution-card p {
  font-size: 15px;
}

.evolution-card .evolution-label {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 20px;
  text-shadow: -1px 3px 9px #000000;
}

.evolution-card img {
  width: 137px;
  transition: 0.3s ease-in-out;
}

.evolution-card img:hover {
  cursor: pointer;
  width: 200px;
  transform: translateY(-10%);
  transition: 0.3s ease-in-out;
}

.evolution {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1390px) {
  .evolution {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-width: 990px) {
  .evolution {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .pokemon-data {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .primary-details {
    width: 100%;
  }

  .secondary-details {
    width: 100%;
  }

  .divider {
    border-top: 3px solid rgba(211, 211, 211, 0.183);
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 847px) {
  .evolution {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .poke-stat-label {
    font-size: 10px;
  }

  .evolution {
    display: block;
  }
}
